.button-margin {
  margin-top: 32px !important;
}

.learningOutcomesList {
  margin-bottom: 16px !important;
}

.biggerLabel {
  font-weight: bold;
}

.modulesTable {
  margin-bottom: 30px !important;

  h6 {
    font-size: 18px;
  }

  .modulesTableConcepts {
    margin-left: 10px;
  }

  .modulesTableGroupName {
    margin-top: 12px;
    margin-bottom: 2px;
  }

  span {
    margin-left: 20px;
    display: block;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
  }
}